  <div class="card">
    <div class="card-header" id="heading<%= journey.id %>">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed button-link-journey" type="button" data-toggle="collapse" data-target="#collapse<%= journey.id %>" aria-expanded="false" aria-controls="collapse<%= journey.id %>">
          <i class="fab fa-pagelines"></i> Journey from <%= journey.date%>
        </button>
      </h2>
    </div>
  <!--  Ici la div avec les éléméents de l'historique, ne pas changer les noms des classes car il y a du JavaScript -->
    <div class="container-historical-journey">
        <div id="collapse<%= journey.id %>" class="collapse" aria-labelledby="heading<%= journey.id %>" data-parent="#accordionJourney">
          <div class="card-body">
            <div class= "starting-point-journey-historical">
              <i class="fas fa-circle starting-point"></i>
              <div class= "starting-point"> <%= journey.starting_point %></div>
            </div>
            <div class= "ending-point-journey-historical">
              <i class="fas fa-circle ending-point"></i>
              <div class= "ending-point"><%= journey.ending_point %></div>
            </div>
          </div>
        </div>
    </div>
  </div>
