<!-- Ici tous les pictos de la vue infos du dashboard -->
<div class="add-button">
  <%= link_to "Add a Journey", new_journey_path, class: "nav-link" %>
</div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
<!--
    <div class="dashboard-circle">
      <div class="dashboard-circle-white">
        <i class="fas fa-road"></i>
      </div>
      <div class="dashboard-circle-infos text-center">
        <p class="circle-info-data">60kms</p>
        <p class="circle-info-datatype">Traveled</p>
      </div>
    </div>
 -->
    <div class="first-row-infos-circle">
      <div class="circle-card-picto-1">
        <i class="fas fa-leaf"></i>
        <div class="text-card"> Kg CO2 saved</div>
      </div>
      <div class="circle-card-picto-2">
        <i class="fas fa-crown"></i>
      </div>
    </div>

    <!-- NOMBRE DE TRAJETS EN KM ET STATUS UTILISATEUR -->
    <!-- <div class="first-row-infos-text"> -->
      <!-- <div class="text-card-1"> <%= @total_distances.to_i%></div>
      <div class="text-card-2"> Bgreen</div>
    </div>
    <div class="second-row-infos-text">
      <div class="text-card"> Kms traveled</div>
      <div class="text-card">Status</div>
    </div>
    <div class="first-row-infos-circle">
      <div class="circle-card-picto"><i class="fas fa-leaf"></i></div>
      <div class="circle-card-picto"><i class="fas fa-print"></i></div>
    </div>
   EMISSION DE CARBONE EMIS ET NOMBRE DE TRAJETS -->
    <!-- <div class="first-row-infos-text"> -->
      <!-- <div class="text-card-1"> <%= @car_indices.round+ @transit_indices.round %></div> -->
      <!-- <div class="text-card-2"> <%= @journeys.count %> </div> -->
    <!-- </div> -->
    <!-- <div class="second-row-infos-text"> -->
      <!-- <div class="text-card"> Kg CO2 saved</div> -->
      <!-- <div class="text-card">  Journeys</div> -->
    <!-- </div> -->
  <!-- Ici la vue de l'historique des trajets  -->
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="accordion" id="accordionJourney">
      <% @user.journeys.each do |journey| %>
        <%= render "shared/card", journey: journey %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <canvas id="lineChart" width="150" height="130"></canvas>
  </div>
</div>

<%= render 'shared/dashboard_nav_tabs' if params[:action] == "dashboard" %>





