<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-steps="<%= @map_steps.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="journey-detail-card" id="accordionExample"><a href="#" class="text-decoration-none">
  <div class="detail-card">
    <li><i class="fas fa-leaf"></i> Start my Green Journey</li>
    <% @steps.each do |step| %>
      <div class="first-header" id="headingOne">
        <h2 class="mb-0">
          <li><i class="fas fa-leaf"></i> <%= step["travel_mode"] %>
            <%= step["duration"]["text"] %> </li>
        </h2>
      </div>
  </div>
  <div class="detail-card">
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <h3>
              <%= step["html_instructions"].html_safe %>
              <%= step["distance"]["text"] %>
            </h3>
            </div>
        </div>
    <% end %>
  </div>
</div>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
    <%= link_to "Done", dashboard_path, class: "nav-link" %></button>

  <%= simple_form_for @journey do |f| %>
    <%= f.input :starting_point, input_html: { value: @starting_point }, as: :hidden %>
    <%= f.input :ending_point, input_html: { value: @ending_point }, as: :hidden  %>
  <%= f.submit %>
  <% end %>
