<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-steps="<%= @map_steps.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="journey-detail-card" id="accordionExample"><a href="#" class="text-decoration-none">


  <%= simple_form_for @journey do |f| %>
    <%= f.input :starting_point, input_html: { value: @starting_point }, as: :hidden %>
    <%= f.input :ending_point, input_html: { value: @ending_point }, as: :hidden  %>
    <%= f.input :travel_mode, input_html: { value: @travel_mode }, as: :hidden  %>
    <%= f.input :distances, input_html: { value: @distance }, as: :hidden  %>

    <%= f.submit "Add", class: "btn btn-outline-success" %>

  <% end %>
<div class="detail-card">
  <div class="fas fa-leaf" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> </div>

<li> Start my Green Journey</li>
<div class="collapse" id="collapseExample">
    <% @steps.each do |step| %>
<!--       <div class="first-header" id="headingOne">
        <h4 class="mb-0">
          <li><i class="fas fa-leaf"></i> <%= step["distance"]["text"] %>
            <%= step["html_instructions"].html_safe %>
        </h4>
      </div> -->
<!--   </div>
  <div class="detail-card">
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body"> -->
              <h5>
<%= step["distance"]["text"] %>
            <%= step["html_instructions"].html_safe %>
            </h5>
       <!--      </div>
        </div> -->
    <% end %>
  </div>
</div>


