<form class="form-inlin where we go">
  <input class="form-control mr-sm-2" type="search" placeholder="12 rue de la Verrerie" aria-label="Search">
  <input class="form-control mr-sm-2" style="margin-bottom: 20px;" type="search" placeholder="starting_point" aria-label="Search">
</form>




<div class="way-to-go" role="group" aria-label="Basic example">
  <ul class="journey-path">

    <% @results.each do |result| %>
      <li class="list-group-item">

          <% if result["travel_mode"] == "driving"  %>
            <% button_name = 'Voiture' %>

          <% elsif result["travel_mode"] == "walking" %>
           <% button_name = 'Marche' %>
           <% elsif result["travel_mode"] == "bicycling" %>
           <% button_name = 'Vélo' %>
           <% else result["travel_mode"] == "transit" %>
            <% button_name = 'Métro' %>
          <% end %>

          <%= form_tag details_path(result["travel_mode"]) do %>
            <%= hidden_field_tag 'starting_point', params[:journey][:starting_point] %>
            <%= hidden_field_tag 'ending_point', params[:journey][:ending_point] %>
            <%= hidden_field_tag 'steps', result["routes"][0]["legs"][0]["steps"].to_json %>
            <%= button_tag button_name, class: "btn btn-outline-success" %>
          <% end %>




        <%= result["routes"][0]["legs"][0]["distance"]["text"] %>
        <%= result["routes"][0]["legs"][0]["duration"]["text"] %>
        <%#= result["routes"][0]["legs"][0]["steps"] %>



      </li>
    <% end %>
  </ul>
</div>


